.bars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bar {
  box-sizing: border-box;
  position: absolute;
  border-radius: var(--wx-gantt-bar-border-radius);
  font: var(--wx-gantt-bar-font);
  white-space: nowrap;
  line-height: inherit;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bar.touch {
  opacity: 0.5;
}

.task {
  border: 1px solid var(--wx-gantt-task-border-color);
  border-color: var(--wx-gantt-task-border-color);
  color: var(--wx-gantt-task-font-color);
  background-color: var(--wx-gantt-task-color);
}

.project {
  border: 1px solid var(--wx-gantt-project-border-color);
  border-color: var(--wx-gantt-project-border-color);
  color: var(--wx-gantt-project-font-color);
  background-color: var(--wx-gantt-project-color);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: relative;
  z-index: 2;
  display: inline;
}

.textRight,
.textLeft {
  position: absolute;
  line-height: normal;
  display: block;
  left: 100%;
  color: var(--wx-font-color);
  pointer-events: none;
  padding: 0 10px;
}

.textLeft {
  left: auto;
  right: 100%;
}

.milestone .textRight {
  padding: 0;
}

.milestone .content {
  height: 100%;
  background-color: var(--wx-gantt-milestone-color);
  transform: rotate(45deg) scale(0.75);
}

.progressWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--wx-gantt-bar-border-radius);
  overflow: hidden;
}

.progressPercent {
  height: 100%;
}

.task .progressPercent {
  background-color: var(--wx-gantt-task-fill-color);
}

.project .progressPercent {
  background-color: var(--wx-gantt-project-fill-color);
}

.link {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #929292;
  background-color: #f0f0f0;
  cursor: pointer;
  user-select: none;
  opacity: 0;
}

.link.left {
  left: -8px;
}

.link.right {
  right: -8px;
}

.bar:hover .link,
.link:hover {
  opacity: 1;
}

.milestone .link.left {
  left: -16px;
}
.milestone .link.right {
  right: -16px;
}
