.links {
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  user-select: auto;
  pointer-events: stroke;
  position: relative;
  cursor: pointer;
  stroke: var(--wx-gantt-link-color);
  stroke-width: 2;
  z-index: 0;
  fill: transparent;
}
