
.scale {
    position: relative;
    box-shadow: var(--wx-top-shadow);
}

.row {
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid var(--wx-border-color);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--wx-timescale-border);
    font: var(--wx-timescale-font);
    text-transform: var(--wx-timescale-text-transform);
    color: var(--wx-timescale-font-color);
}
