.table {
  position: relative;
  width: 100%;
  font: var(--wx-grid-body-font);
  color: var(--wx-grid-body-font-color);
  touch-action: none;
}

.row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: var(--wx-grid-body-row-border);
}

.row.selected {
  background: var(--wx-gantt-select-color);
}

.reorder {
  opacity: 50%;
}

.reorderCard {
  width: 100%;
  background: white;
  border-top: var(--wx-grid-body-row-border);
  opacity: 50%;
}

.cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 5px;
  overflow: hidden;
}

.content {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  pointer-events: none;
}

.close,
.open {
  cursor: pointer;
  pointer-events: auto;
}

.close {
  background: var(--wx-close-btn-icon) center center no-repeat;
}

.open {
  background: var(--wx-open-btn-icon) center center no-repeat;
}

.add {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--wx-add-btn-icon) center center no-repeat;
  opacity: 0.54;
  cursor: pointer;
}

.row.selected .add,
.add:hover {
  opacity: 1;
}
