.table {
  position: relative;
  width: 100%;
  box-shadow: var(--wx-grid-header-shadow);
  background-color: #fff;
  z-index: 1;
}

.row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--wx-border-color);
}

.cell {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: 0 5px;
  font: var(--wx-grid-header-font);
  text-transform: var(--wx-grid-header-text-transform);
  color: var(--wx-grid-header-font-color);
}

.add {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--wx-add-btn-icon) center center no-repeat;
  opacity: 0.54;
  cursor: pointer;
}

.add:hover {
  opacity: 1;
}

.menu {
  cursor: pointer;
  font-size: 20px;
  color: var(--wx-button-primary-color);
}
